@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        background-color: #f0f2f5;
    }
    .left{
        width: 100%;
        text-align: center;
        padding-top: 100px;

    }
    .left .left-items img{
        width: 200px;
       
    }
    .left .left-items p{
        
        font-size: 0px;
    }

    .right{
        text-align: center;
        padding-top: 20px;
    }
    .right .all-right .right-items{
        background-color: white;
        box-shadow: #d6d8db 0.5px 0.5px 0.5px 0.5px;
        height: 200px;
        width: 250px;
        margin: 0 auto;
        padding: 15px;
        border-radius: 5px;
        box-sizing: border-box;
       
    }
    .right .all-right .right-items ul{
        list-style: none;
    }
    .right .all-right .right-items ul li{
        padding-top: 6px;
    }
    .right .all-right .right-items ul li .right-top{
        width: 210px;
        height: 25px;
        padding: 2px;
        border-radius: 5px;
        font-size: 11px;
        border-color: #e0e2e5;
    }
    .right .all-right .right-items ul li .right-btn{
        width: 215px;
        height: 25px;
        text-align: center;
        border: none;
        background-color: #1877f2;
        color: white;
        font-size: 17px;
        font-weight: bold;
        border-radius: 3px;
    }
    .right .all-right .right-items ul li .right-btn:hover{
        background-color:  #0b5bc4;


    }
    .right .all-right .right-items ul li a{
        font-size: 12px;
        padding-top: 10px;
        text-decoration: none;
    }
    .right .all-right .right-items ul li .right-buttom{
        height: 29px;
        font-size: 14px;
        font-weight: bold;
        font-weight: 500;
        width: 150px;
        border: none;
        background-color: #42b72a;
        color: white;
        border-radius: 3px;
    }
    .right .all-right .right-items ul li .right-buttom:hover{
        background-color: #196d08;
    }
     .buttom {
        padding-top: 20px;
       
    }
    .buttom a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
    
}


